<template>
  <div class="contactList">
    <component
      name="k-list"
      :data="list"
      :mapping="mapping"
      :toolbar="toolbar"
    ></component>
  </div>
</template>

<script>
  data: {
    title: 'ContactList',
    mapping: {
      support: 'name',
      primary: 'address',
      meta: 'age'
    }
  },
  pre() {
    // this data is call response
    this.list = {
      a: {
        name: 'Hans Peter',
        address: ['Hausweg 55, 51069 Köln', 'Hintere Einfahrt'],
        age: '43 Jahre'
      },
      b: {
        name: 'Karl Heinz',
        address: 'Winkelgasse 2, 51069 Köln',
        age: '33 Jahre'
      }
    };

    this.toolbar = {
      destroy: (keys, callback) => {
        let self = this;
        dialog({
          type: 'confirm',
          title: 'Confirm!',
          content: 'Soll die Auswahl wirklich gelöscht werden?',
          negativeAction() {
            console.log('close Confirm-Dialog');
          },
          positiveAction() {
            for(let i of keys) {
              delete self.list[i];
            }
            callback();
          }
        });
      }
    }
  }
</script>

<style>
.contactList {
  border: 1px solid blue;
}
</style>
