<template>
  <div id="page-home">
    <header>
      <component name="TopBar" :page-title="title"></component>
    </header>
    <main>
      <section>
        <article>
          <p>
            <b>Koppa.js</b> is a client-side rendering framework for single page applications which gets along without virtual DOM.
          </p>
        </article>
      </section>
    </main>

    <footer>
      <component name="Footer"></component>
    </footer>
  </div>
</template>

<script>
  data: {
    title: 'Koppa.js'
  }
</script>
